* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif; }

body {
  background-image: linear-gradient(to top, #261447, #000000);
  height: 80vh; }

.form {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #261447, #000000);
  color: wheat;
  width: 40vw;
  height: auto;
  padding: 4vh 4vw; }
  .form fieldset {
    text-align: center; }
    .form fieldset input {
      border: #000000;
      border: 2px solid;
      display: block;
      margin: 2em;
      background-color: #363636;
      color: #d9d2b6; }
    .form fieldset select {
      border: #6737c2;
      border: 2px solid;
      display: block;
      margin: 2em;
      background-color: #363636;
      color: #d9d2b6; }
    .form fieldset label {
      border: #625986;
      border: 2px solid;
      display: block;
      margin: 2em;
      background-color: #363636;
      color: #d9d2b6; }

.img {
  display: block;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  border: solid 3px #d9d2b6;
  background-image: linear-gradient(to top, #000000, #ffffff);
  height: 50vh;
  width: 60vw;
  position: relative;
  animation-name: remolino;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 7s; }
  .img:hover {
    transform: scale(1.1, 1.1); }

@keyframes remolino {
  10% {
    transform: rotate(36deg); }
  20% {
    transform: rotate(72deg); }
  30% {
    transform: rotate(108deg); }
  40% {
    transform: rotate(144deg); }
  50% {
    transform: rotate(180deg);
    background-image: linear-gradient(to top, #ffffff, #000000); }
  60% {
    transform: rotate(216deg); }
  70% {
    transform: rotate(252deg); }
  80% {
    transform: rotate(288deg); }
  90% {
    transform: rotate(324deg); }
  100% {
    transform: rotate(360deg); } }

.icons {
  display: flex;
  background-image: linear-gradient(to top, #625986, #000000);
  text-align: center;
  padding-bottom: 1vh;
  width: 100vw;
  flex-direction: column; }

.button {
  display: block;
  margin: auto; }
  .button:hover {
    transform: scale(1.2, 1.2); }

.main__p {
  display: inline;
  color: #d9d2b6;
  font-style: oblique;
  text-align: center; }

h1 {
  color: #6737c2;
  font-size: 3rem;
  display: block;
  text-align: center;
  text-decoration: solid;
  font-weight: bold; }

h2 {
  color: #6475b4;
  font-size: 2.5rem;
  display: block;
  text-align: center;
  text-decoration: solid;
  font-weight: bold; }

h3 {
  color: #625986;
  font-size: 2rem;
  display: block;
  text-align: center;
  text-decoration: solid;
  font-weight: bold; }

.header {
  background-image: linear-gradient(to bottom, #ffffff, #000000);
  height: 15vh; }
  .header .container .row .header__logo {
    max-width: 6rem;
    transition: all 2s; }
    .header .container .row .header__logo:hover {
      transform: translate(100vw, 0vh); }
  .header .header__nav .header__menu {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(to top, #261447, #000000);
    align-items: center;
    justify-content: center; }
    .header .header__nav .header__menu li:hover {
      background-color: #d9d2b6; }
    .header .header__nav .header__menu li a {
      font-size: 25px;
      font-weight: bold;
      line-height: 5vh;
      display: inline-block;
      padding: 0.5vh 0.5vw;
      text-decoration: none;
      margin: 0.5vh 0.5vw;
      color: #ffffff;
      border: #d9d2b6 groove thick;
      position: relative;
      transition: all; }

.footer {
  background-image: linear-gradient(to top, #ffffff, #000000);
  position: sticky;
  height: 5vh; }
  .footer .footer__copy {
    display: flex;
    justify-content: center;
    color: #d0e1d4;
    border: solid 0.5vh #313638;
    font-weight: bold;
    overflow: hidden; }

.form__p {
  text-align: center;
  text-decoration: none; }

.main__div {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(#000000, #ffffff);
  align-items: center;
  padding: 1rem; }

.music__frames {
  display: flex;
  margin: 0.5vh 0.5vw;
  padding: 0.5vh 0.5vw;
  border: solid 3px #d9d2b6;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  .music__frames .music__yt {
    background-color: #ff0000; }
  .music__frames .music__spot {
    background-color: #1DB954; }

@media (max-width: 460px) {
  .header__menu {
    flex-direction: column; }
  .header__menu li a {
    font-size: 20px; }
  .main__div {
    font-size: 18px; }
  .music__yt {
    overflow: auto; }
  .music__spot {
    overflow: auto; } }

@media (max-width: 320px) {
  .header__menu li a {
    font-size: 18px; }
  .main__div {
    font-size: 15px; }
  .music__yt {
    overflow: auto; }
  .music__spot {
    overflow: auto; } }

.redes__wp {
  color: #25D366;
  transition: all 2s; }
  .redes__wp:hover {
    transform: scale(1.5) translate(0, 2em); }

.redes__ig {
  color: #5851D8;
  transition: all 2s; }
  .redes__ig:hover {
    transform: scale(1.5) translate(0, 2em); }

.redes__email {
  color: #ff0000ab;
  transition: all 2s; }
  .redes__email:hover {
    transform: scale(1.5) translate(0, 2em); }

.redes__yt {
  color: #ff0000;
  transition: all 2s; }
  .redes__yt:hover {
    transform: scale(1.5) translate(0, 2em); }

.redes__spot {
  color: #1DB954;
  transition: all 2s; }
  .redes__spot:hover {
    transform: scale(1.5) translate(0, 2em); }
