.music__frames {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: space-evenly;

    .music__yt {
        background-color: #ff0000;
        margin-bottom: 2em;
    }

    .music__spot {
        background-color: #1DB954;
        margin-bottom: 2em;
    }

}