.music__frames {
    display: flex;
    margin: 0.5vh 0.5vw;
    padding: 0.5vh 0.5vw;
    border: solid 3px #d9d2b6;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .music__yt {
        background-color: #ff0000;
    }

    .music__spot {
        background-color: #1DB954;
    }

}