//MAPA

$color__redes: (redes__wp: #25D366,
    redes__ig: #5851D8,
    redes__email: #ff0000ab,
    redes__yt: #ff0000,
    redes__spot: #1DB954,
);

//BUCLE

@each $app,
$color in $color__redes {
    .#{$app} {
        color: $color;
        transition: all 1s;

        &:hover {
            transform: scale(1.3);
        }
    }
}

//En _txt.scss hay un Mixin re bonito <3