.footer {
    background-image: linear-gradient(to top, #ffffff, #000000);

    .footer__copy {
        display: flex;
        justify-content: center;
        color: #d0e1d4;
        border: solid 0.5vh #313638;
        font-weight: bold;
        overflow: hidden;
        &:hover{
            color: #000000;
            background-color: #5e0909;
            border: #000000 dashed;
        }
    }
}