@mixin form ($color__borde) {
    border: $color__borde;
    border: 2px solid;
    display: block;
    margin: 2em;
    background-color: #363636;
    color: #d9d2b6;
}
.form {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #261447, #000000);
    color: wheat;
    width: 40vw;
    height: auto;
    padding: 4vh 4vw;
    margin-bottom: 3em;
    fieldset {
        text-align: center;
        input {
            @include form(#000000);
        }
        select {
            @include form(#6737c2);
        }
        label{
            @include form(#625986);
        }
    }
}

.form__p {
    text-align: center;
    text-decoration: none;
}