.header {
    background-image: linear-gradient(to bottom, #ffffff, #000000);

    .container .row .header__logo {
        max-width: 6rem;
        transition: all 2s;

        &:hover {
            transform: translate(100vw, 0vh);
        }
    }

    .header__nav .header__menu {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        flex-wrap: wrap;
        background-image: linear-gradient(to top, #261447, #000000);
        align-items: center;
        justify-content: center;

        li {
            &:hover {
                background-color: #d9d2b6;
                
            }

            a {
                font-size: 25px;
                font-weight: bold;
                line-height: 5vh;
                display: inline-block;
                padding: 0.5vh 0.5vw;
                text-decoration: none;
                margin: 0.5vh 0.5vw;
                color: #ffffff;
                border: #d9d2b6 groove thick;
                position: relative;
                transition: all;
            }
        }
    }

}