.header {
    background-image: linear-gradient(to bottom, #ffffff, #000000);


    .header__nav .header__menu {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        flex-wrap: wrap;
        
        align-items: center;
        justify-content: center;
        li {
            &:hover {
                color: #000000;
                background-color: #5e0909;
                border: #000000 dashed;
            }

            a {
                font-size: 25px;
                font-weight: bold;
                line-height: 5vh;
                display: inline-block;
                padding: 0.5vh 0.5vw;
                text-decoration: none;
                margin: 0.5vh 0.5vw;
                color: #ffffff;
                border: #5e0909 groove thick;
                position: relative;
                transition: all;
            }
        }
    }

}