.img {
    &:hover {
        transform: scale(1.1, 1.1);
        border: #5e0909 dashed;
    }
}

.icon__div{
    .row{
        display: flex;
        flex-direction: column;
        .icons {
            display: block;
            background-image: linear-gradient(to top, #5e0909, #aaaaaa);
            text-align: center;
            padding-bottom: 1vh;
            width: 50vw;
            margin: 1em 0;
            transition: all;
        
            &:hover {
                background-image: linear-gradient(to top, #aaaaaa, #000000);
            }
        
            .main__p {
                &:hover {
                    color: #5e0909;
                }
            }
        }
    }
}

.button {
    display: block;
    margin: auto;

    &:hover {
        transform: scale(1.2, 1.2);
    }
}

.shows {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 3em;

    li {
        border: #000000 0.2em solid;
        color: #5e0909;

        &:hover {
            color: white;
            background-color: #5e0909;
        }
    }
}