.main__p {
    color: black;
    font-style: oblique;
    text-align: center;
    font-size: 1.8rem;
}

@mixin titulos ($color, $fontsize) {
    color: $color;
    font-size: $fontsize;
    display: block;
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    transition: all;
    &:hover{
        color: #5e0909;
        text-decoration: underline;
    }
}

h1 {
    @include titulos(#6737c2, 3rem);
}

h2 {
    @include titulos(#6475b4, 2.5rem)
}

h3 {
    @include titulos(#625986, 2rem)
}