.main__p {
    display: inline;
    color: #d9d2b6;
    font-style: oblique;
    text-align: center;
}

h1 {
    color: #261447;
    display: block;
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
}

h2 {
    color: #261447;
    display: block;
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
}