.main__p {
    display: inline;
    color: #d9d2b6;
    font-style: oblique;
    text-align: center;
}

@mixin titulos ($color, $fontsize) {
    color: $color;
    font-size: $fontsize;
    display: block;
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
}

h1 {
    @include titulos(#6737c2, 3rem)
}

h2 {
    @include titulos(#6475b4, 2.5rem)
}

h3 {
    @include titulos(#625986, 2rem)
}